<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="h-100">
    <div class="container h-100">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
